@(form: Form[Pessoa])

@main("Login Page") {
<div class="navbar navbar-inverse navbar-fixed-top">
	 	<div class="container">
	 		<div class="navbar-header">
	 			<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target=".navbar-collapse">
			    </button>
				<a class="navbar-brand" href="/"><h3 class="text-center"> Bem Vindo(a)! @session.get("user") </h3>
				</a>
 				</div>
 				 <a href="/logout" class="btn btn-danger pull-right"> LogOut</a>
		  </div>
		  
		</div>
			<br>
			<br>   
     		<br>

   <div class="col-sm-4 col-sm-offset-4">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }
   
   @helper.form(routes.Login.authenticate) {
	   <h1 class="text-center">LogIn</h1>
       <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                  class="form-control">
       </p>
       <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
       </p>
       <div>
	       <button class="btn btn-primary" type="submit">Login</button>
	       <a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>
       </div>
	}
    </div>
}