@(form: Form[Pessoa])

@main("Register Page") {

<div class="navbar navbar-inverse navbar-fixed-top">
	 	<div class="container">
	 		<div class="navbar-header">
	 			<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target=".navbar-collapse">
			    </button>
				<a class="navbar-brand" href="/"><h3 class="text-center"> Bem Vindo(a)! @session.get("user") </h3>
				</a>
 				</div>
 				 <a href="/logout" class="btn btn-danger pull-right"> LogOut</a>
		  </div>
		  
		</div>
			<br>
			<br>   
     		<br>

   <div class="col-sm-4 col-sm-offset-4">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }

   @helper.form(routes.Registro.registrar) {
	   <h1 class="text-center">Registrar</h1>
	
	   <p>
	       <input type="text" name="nome" placeholder="Nome" value='@form("nome").value'
                class="form-control">
	   </p>
	   <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                   class="form-control">
	   </p>
	   <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
	   </p>
	   <div>
	       <button class="btn btn-primary"  type="submit">Registrar</button>
	       <a class="btn btn-info" style="float:right;" href="/login"> Login</a>
	   </div>
	}
    </div>
}